<!doctype html>
<html>
<title>iCi Pop-up Shop Use</title>
<img src="pictures/Example.jpg" alt="" width="240" align="right" />
<h1>iCi Pop-up Shop</h1>
<p></p>

<body>
    <hr>
    <h3>Function list</h3>
    <ul>
      <li><a href="/icipopupshop/NewUser">New User</a></li>
      <li><a href="/icipopupshop/CheckHistory">Check History Data</a></li>
    </ul>
<br>
<video preload="auto" autoplay muted loop id="video" >
<source src="/videos/Example.webm" type="video/webm" />
<source src="/videos/Example.mp4" type="video/mp4" />
<source src="/videos/Example.ogg" type="video/ogg" />
</video>
<i><p align="middle">Edited by Edward Chang</p></i>
</body>
</html>
